services:
  db:
    image: postgres:16-alpine
    container_name: nps_postgres
    environment:
      POSTGRES_USER: atlas_admin
      POSTGRES_PASSWORD: atlas123
      POSTGRES_DB: nps_db
    ports:
      - "8000:8000" 
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: 